.homepage section[role=main] {
    margin-left: 20px;
	-ms-grid-rows: 1fr 1fr;
	-ms-grid-columns: 1fr 1fr 1fr;
	display: -ms-grid;
	
}
.homepage section[role=main] > div:nth-child(1) {
   -ms-grid-column: 1;
   -ms-grid-row:1;
   -ms-grid-column-span:3;
   margin:20px;
   background-color: #ff6a00;
   display: -ms-grid;
   -ms-grid-rows: 1fr;
	-ms-grid-columns: 1fr;
}
.homepage section[role=main] > div:nth-child(1) > div {
		-ms-grid-column-align: center;
		-ms-grid-row-align: center;
		height: 30%;
	}
.homepage section[role=main] > div:nth-child(2) {
   -ms-grid-column: 1;
   -ms-grid-row:2;
   background-color: purple;
   margin:20px;
  
}

.homepage section[role=main] > div:nth-child(3) {
   -ms-grid-column: 2;
   -ms-grid-row:2;
    background-color: #4800ff;
   margin:20px;
}
.homepage section[role=main] > div:nth-child(4) {
   -ms-grid-column: 3;
   -ms-grid-row:2;
    background-color: #0026ff;
   margin:20px;
}
.grid {
	 display: -ms-grid;
   -ms-grid-columns: 1fr;
   -ms-grid-rows: 1fr 3fr;
}
.grid > div:nth-child(1)
{
	-ms-grid-column: 1;
   -ms-grid-row:1;
   font-size: 300%;
  
	}
.grid > div:nth-child(2)
{
	-ms-grid-column: 1;
   -ms-grid-row:2;
  -ms-grid-column-align:end; 
  -ms-grid-row-align:end; 
   font-size:1000%;
	}
@media screen and (-ms-view-state: fullscreen-landscape) {

    #snapped {
        display: none;
    }
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        display: none;
    }
    #snapped {
    display: block;
} 

}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
